<!DOCTYPE html>
<html lang="en">

<!-- molla/index-13.html  22 Nov 2019 09:59:06 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smart</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->  
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="assets/css/demos/demo-13.css">
    <!-- <link rel="stylesheet" href="assets/css/toast.css"> -->
    <link rel="stylesheet" href="assets/css/toastSmall.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>
    <ul class="notifications" ></ul>
    <div class="page-wrapper">
        <header class="header header-10 header-intro-clearance">
            

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="index.html" class="logo">
                            <img src="logo/smart.jpg" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form  onsubmit="return false">
                                <div class="header-search-wrapper search-wrapper-wide">
                                                           
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" class="form-control" name="q" id="searchValue" placeholder="Search product ..." >
                                    
                                    <button class="btn btn-primary" type="submit" onclick="productsearch()" ><i class="icon-search"></i></button>
                                    
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <div class="header-dropdown-link">
                            
                            <a href="/wishlist" class="wishlist-link">
                                <i class="icon-heart-o"></i>
                                <!-- <span class="wishlist-count">2</span> -->
                                
                                <% if(test.v==1) { %>
                                    <span class="wishlist-count"><%= Totalwish %></span>
                                    <% } %>
                                <span class="wishlist-txt">Wishlist</span>
                            </a>

                            <div class="dropdown cart-dropdown">
                                <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-shopping-cart"></i>
                                    <!-- <span class="cart-count">2</span> -->
                                    <% if(test.v==1) { %>
                                        <span class="cart-count"><%= Totalcart %></span>
                                        <% } %>
                                    <span class="cart-txt">Cart</span>
                                </a>

                                
                            </div><!-- End .cart-dropdown -->
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        
                    </div><!-- End .col-lg-3 -->
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" class="sf-with">Home</a>

                                    
                                </li>
                                <!-- <li>
                                    <a href="" class="sf-with-ul">Category</a>

                                    <div class="megamenu megamenu-md">
                                    <div class="row no-gutters">
                                        <div class="col-md-8">
                                            <div class="menu-col">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul>
                                                            <li><a href="/poduct/filter">headphones</a></li>
                                                            <li><a href="category-2cols.html">watch</a></li>
                                                            <li><a href="category.html">speaker</a></li>
                                                            
                                                        </ul>

                                                        
                                                    </div>

                                                    
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                </div>
                                </li> -->
                                <li>
                                    <a href="/product" class="sf-with">Product</a>   
                                </li>  
                                <li>
                                    
                                    <a href="/register" class="sf-with">Sign Up</a>
    
                                </li>

                                <% if(test.v==1) { %>
                                    <li>
                                    <a href="/logout" class="sf-with">Logout</a>
                                    </li>
                                    <% }else{ %>
                                        <li>
                                            <a href="/login" class="sf-with" id="sign">Sign In</a> 
                                        </li>
                                        <% } %>

                                        <% if(test.v==1) { %>
                                            <li>                                    
                                                <a href="/dashboard" class="sf-with">Account</a>
                                            </li>
                                            <% } %>
                                                
                                               

                                

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .col-lg-9 -->
                    <div class="header-right">
                        
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
        