<%- include('../partials/user-header') %>


        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
			
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg2.jpg'); background-repeat: no-repeat;background-size: auto;">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							   
							    <li class="nav-item">
							        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Sign In</a>
							    </li>
							</ul>
							<div class="tab-content">
							    <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
							    	
							    </div><!-- .End .tab-pane -->
							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							    	<!-- onclick="login()" -->
									<form action="" method="post"  onsubmit="return false" id="signinform">
							    		<div class="form-group">
							    			<label for="singin-email-2">Email address *</label>
							    			<input type="text" onblur="toggleLabelemail(), emailCheckLogin()" class="form-control" id="singin-email-2" name="email" >
											<p id="myLabelemail" style="color: rgb(218, 30, 30);">Please fill email....</p>
											<p id="emailValidation" style="color: rgb(218, 30, 30);">Email not valid ....</p>
											
    									<!-- <button onclick="toggleLabel()">Toggle Label</button> -->
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="singin-password-2">Password *</label>
							    			<input type="password" onblur="toggleLabelpass()" class="form-control" id="singin-password-2" name="password" >
											<p id="myLabelpass" style="color: rgb(218, 30, 30);">Please fill password....</p>
										</div><!-- End .form-group -->

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>LOG IN</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                				
											<!-- End .custom-checkbox -->

											<a href="/forgotnumber" class="forgot-link">Forgot Your Password?</a>
							    		</div><!-- End .form-footer -->
							    	</form>
							    	<!-- <div onclick="checkTost()">check</div> -->
									<!-- ............................ -->
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

		<script>
		// let emailvalue = document.getElementById("singin-email-2").value;
		// let passvalue = document.getElementById("singin-password-2").value;
		function checkTost(){
			
		}
		var labelemail = document.getElementById("myLabelemail");
		var labelpass = document.getElementById("myLabelpass");
		labelemail.style.display = "none"; // Hide the label
		labelpass.style.display = "none"; // Hide the label
	
		let signinForm = document.getElementById("signinform")

		let emailValidation = document.getElementById("emailValidation")
		emailValidation.style.display = "none"; 

		

		function toggleLabelemail(event) {		
            let labelemail = document.getElementById("myLabelemail");


			let emailvalue = document.getElementById("singin-email-2");
			
			if(emailvalue.value == ""){
					labelemail.style.display = "block"
				}
        }


		function toggleLabelpass(event) {		
            
			let labelpass = document.getElementById("myLabelpass");


			
			let passwordvalue = document.getElementById("singin-password-2");

			if(passwordvalue.value == ""){
					labelpass.style.display = "block"
				}

        }

		function emailCheckLogin() {

			emailValidation.style.display = "none"; 
			let emailValue = document.getElementById("singin-email-2").value;
			if (!/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(emailValue)) {
			emailValidation.style.display = "block";
			}
		}



		// function toggleLabel(event) {		
            // var labelemail = document.getElementById("myLabelemail");
			// var labelpass = document.getElementById("myLabelpass");


			// var emailvalue = document.getElementById("singin-email-2");
			// var passwordvalue = document.getElementById("singin-password-2");

			// if(emailvalue.value == "" || passwordvalue.value == ""){
				

			// 	if(emailvalue.value == ""){
			// 		labelemail.style.display = "block"
			// 	}
			// 	if(passwordvalue.value == ""){
			// 		labelpass.style.display = "block"
			// 	}
			// 	//  event.preventDefault()
				
			// 	return false;
				
			// }
        // }

		signinForm.addEventListener("submit",(event)=>{
			
			let emailvalue = document.getElementById("singin-email-2");
			let passwordvalue = document.getElementById("singin-password-2");

			if(emailvalue.value == "" || passwordvalue.value == ""){
				
				event.preventDefault()
				if(emailvalue.value == ""){
					labelemail.style.display = "block"
				}
				if(passwordvalue.value == ""){
					labelpass.style.display = "block"
				}
				  
				
				return false;
				
			}

			login()
		})


		function login(){

			let emailvalue = document.getElementById("singin-email-2").value;
			let passvalue = document.getElementById("singin-password-2").value;

			// /signin
			fetch("/signin", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({email:emailvalue,password:passvalue}),
            })
                .then((response) => {
                    return response.json();               
                })
                .then((data) => {
					if(data.loginNext == true){
						showToast('odder successfull');
						window.location.href = '/';
					}else if(data.loginNext == "block"){
						showToast('You are Blocked !');
						window.location.href = '/login';
					}else{
						showToast('wrong email or password !');
						window.location.href = '/login';
					}

                })
                .catch((err) => console.log(err));
		}





		</script>

        
        <%- include('../partials/user-footer') %>        