<%- include('../partials/user-header') %>


        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg2.jpg'); background-repeat: no-repeat;background-size: auto;">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							   
							    <li class="nav-item">
							        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
							    </li>
							</ul>
							<div class="tab-content">
							    <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
							    	
							    </div><!-- .End .tab-pane -->
								<div id="toast"></div>
							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							    	<!-- <form action="/api/users" method="POST" id="add_user"  > -->
									<form onsubmit="return false" id="add_user" >
							    		<div class="form-group">
							    			<label for="register-email">Name *</label>
							    			<input type="text" class="form-control" id="register-name" name="name" onblur="formValidation()">
											<p id="myLabelname" style="color: rgb(218, 30, 30);">Please fill name....</p>
											<p id="nameValidation" style="color: rgb(218, 30, 30);">Name not valid ....</p>
							    		</div><!-- End .form-group -->

                                        <div class="form-group">
							    			<label for="register-email">Your email address *</label>
							    			<input type="email" class="form-control" id="register-email-2" name="email" onblur="formValidation()">
											<p id="myLabelemail" style="color: rgb(218, 30, 30);">Please fill email....</p>
											<p id="emailValidation" style="color: rgb(218, 30, 30);">Email not valid ....</p>
							    		</div><!-- End .form-group -->

                                        <div class="form-group">
							    			<label for="register-email">Mobile Number *</label>
							    			<input type="text" class="form-control" id="register-number" name="mobile" onkeyup="checknumber()"  onblur="checknumberbl() , formValidation()" >
											<p id="myLabelmob" style="color: rgb(218, 30, 30);">Please fill mobilenumber....</p>
											<p id="numberexist" style="color: rgb(218, 30, 30);">Number exist ....</p>
											<p id="mobileValidation" style="color: rgb(218, 30, 30);">Mobile number not valid ....</p>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="register-password-2">Password *</label>
							    			<input type="password" class="form-control" id="register-password-2" name="password" onkeyup="formValidation()">
											<p id="myLabelpass" style="color: rgb(218, 30, 30);">Please fill password....</p>
											<p id="passwordValidation" style="color: rgb(218, 30, 30);">Password not valid ....</p>
							    		</div><!-- End .form-group -->

                                        <div class="form-group">
							    			<label for="register-password-2">conform Password *</label>
							    			<input type="password" class="form-control" id="register-password-1" name="register-password" onblur="numbercrosscheck()">
											<p id="passwordConfirm" style="color: rgb(218, 30, 30);">Password not match ....</p>
							    		</div>
										<!-- End .form-group -->

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2" onclick="creatUser()">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
							    		</div><!-- End .form-footer -->
							    	</form>
							    	
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

		
		
		<script>

			

			var labelname = document.getElementById("myLabelname");
			var labelemail = document.getElementById("myLabelemail");			
			var labelmob = document.getElementById("myLabelmob");
			var labelpass = document.getElementById("myLabelpass");
			labelname.style.display = "none"; // Hide the label
			labelemail.style.display = "none"; // Hide the label
			labelmob.style.display = "none"; // Hide the label
			labelpass.style.display = "none"; // Hide the label

			// ******** formValidation **********

			let nameValidation = document.getElementById("nameValidation")
			let emailValidation = document.getElementById("emailValidation")
			let mobileValidation = document.getElementById("mobileValidation")
			let passwordValidation = document.getElementById("passwordValidation")
			let passwordConfirm = document.getElementById("passwordConfirm")

			nameValidation.style.display = "none"; 
			emailValidation.style.display = "none"; 
			mobileValidation.style.display = "none"; 
			passwordValidation.style.display = "none";
			passwordConfirm.style.display = "none";

			// ******** formValidation **********
			
			var numberExist = document.getElementById("numberexist");
			numberExist.style.display = "none";
			let signinForms = document.getElementById("add_user")
	
				
			// function toggleLabel(event) {	
			// 	var namevalue = document.getElementById("register-name");
			// 	var emailvalue = document.getElementById("register-email-2");			
			// 	var numbervalue = document.getElementById("register-number");
			// 	var passwordvalue = document.getElementById("register-password-2");	
			// 	if(namevalue.value == "" || emailvalue.value == ""  || numbervalue.value == "" || passwordvalue.value == ""){					
			// 		// event.preventDefault()
			// 		if(namevalue.value == ""){					
			// 			labelname.style.display = "block"
			// 		}
			// 		if(emailvalue.value == ""){							
			// 			labelemail.style.display = "block"
			// 		}
			// 		if(numbervalue.value == ""){							
			// 			labelmob.style.display = "block"
			// 		}
			// 		if(passwordvalue.value == ""){							
			// 			labelpass.style.display = "block"
			// 		}				
			// 		return false;		
			// 	}
			// }



		
		signinForms.addEventListener("submit",(event)=>{
		
			var namevalue = document.getElementById("register-name");
				var emailvalue = document.getElementById("register-email-2");			
				var numbervalue = document.getElementById("register-number");
				var passwordvalue = document.getElementById("register-password-2");
	
				if(namevalue.value == "" || emailvalue.value == ""  || numbervalue.value == "" || passwordvalue.value == ""){
					
					event.preventDefault()
					if(namevalue.value == ""){
						
						labelname.style.display = "block"
					}
					if(emailvalue.value == ""){
							
						labelemail.style.display = "block"
					}
					if(numbervalue.value == ""){
							
						labelmob.style.display = "block"
					}
					if(passwordvalue.value == ""){
							
						labelpass.style.display = "block"
					}
						
					
					return false;
						
					
				}

		})

	var arr = 0

	function checknumber(){
		
		let num = document.getElementById("register-number").value
		 
			arr=arr+1

		console.log(arr+"arr")
		
		
		if(arr<10){
			return
		}
		console.log(arr+"arr")


			fetch("/check/phoneup", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ number : num }),
            })
                .then((response) => {

                    const result = response.json();
                    console.log(result);
                    return result;
                })
                .then((data) => {

					numbercall(data)

                })
                .catch((err) => console.log(err));

	}

	function checknumberbl(){

		let num = document.getElementById("register-number").value

			fetch("/check/phoneup", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ number : num }),
            })
                .then((response) => {

                    const result = response.json();
                    console.log(result);
                    return result;
                })
                .then((data) => {

					numbercall(data)

                })
                .catch((err) => console.log(err));
		
	}

	function numbercall(value){

		if(value[0]?.email == undefined){
	
		}else{
			numberExist.style.display = "block"
			console.log(value[0].email)
		}
	}



	function creatUser(){

			let nameVal = document.getElementById("register-name").value
			let emailVal = document.getElementById("register-email-2").value
			let numberVal = document.getElementById("register-number").value
			let passwordVal = document.getElementById("register-password-2").value
			console.log(nameVal,emailVal,numberVal,passwordVal)

			fetch("/api/users", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ name :nameVal, email:emailVal, mobile:numberVal, password:passwordVal }),
            })
                .then((response) => {

					console.log("zero")
                    const result = response.json();
                    console.log(result);
                    return result;
                })
                .then((data) => {
					console.log("first")
					showToast("Registration successful")

                })
                .catch((err) => console.log(err));

	}

	


	
</script>

        
        <%- include('../partials/user-footer') %>        